{% extends "base.html" %}

{% block content %}
    <h1>blog posts!</h1>
    
    
    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}

        <ul style="list-style-type:none">
            {% for post in posts %}    
            <h2><a href="/blog?id={{post.id}}"><li>{{post.title}}</li></a></h2>
            <li>{{post.body}}</li>
            <p style ="font-size: 12px"><em>written by </em><a href="/blog?username={{post.owner_id}}">{{users[(post.owner_id-1)].username}}</a></p>
            {% endfor %}
        
        </ul>

    {% endif %}

           
{% endblock %}