{% extends "base.html" %}

{% block content %}
    <h1>new post</h1>
    <form method='post'>
        <table>
            <tr>
                <td>title:</td>
            </tr>
            <tr>    
                <td><input type="text" name='title' value={{title}}></td>
            </tr>
            <tr>
                <td>
                    <br />
                    <br />
                </td>
            </tr>
            
            <tr>
                <td>post:</td>
            </tr>
            <tr>    
                <td>
                <textarea id="txtarea" rows = "4" cols = "50" name='body'>{{body}}</textarea>
                </td>
        </table>
        <input type="submit" />
    </form>

    
          
{% endblock %}