<!-- to show the blogs of a single user -->
{% extends "base.html" %}

{% block content %}
    <h1>blog posts!</h1>
    
    
    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}

        <ul style="list-style-type:none">
            {% for post in posts %}    
            <h2><a href="/blog?id={{post.id}}"><li>{{post.title}}</li></a></h2>
            <li>{{post.body}}</li>
            <h3>written by <a href="/blog?id={{post.id}}">{{post.owner_id}}</a></h3>
            <hr>
            {% endfor %}
        
        </ul>

    {% endif %}

           
{% endblock %}